.video-fundo {
border-radius: 6px;
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}
.video-fundo video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
transform: translate(-50%, -50%);
z-index: -1;
}

