<div class="area footer">
    <div class="conteudo-1200 item-flex">
        <div class="area-lista item-flex">
            <ul class="lista">
                <li class="item titulo">Redes Sociais</li>
                <li class="item">Facebook</li>
                <li class="item">Instagram</li>
                <li class="item">Twitter</li>
            </ul>
            <ul class="lista">
                <li class="item titulo">Produtos</li>
                <li class="item">Iphone</li>
                <li class="item">Apple TV</li>
                <li class="item">Ipad</li>
                <li class="item">Mac book</li>
            </ul>
            <ul class="lista">
                <li class="item titulo">Sobre nós</li>
                <li class="item">Ultimas notícias</li>
                <li class="item">Trabalhe conosco</li>
                <li class="item">Eventos</li>
            </ul>
            <ul class="lista">
                <li class="item titulo">Nossos valores</li>
                <li class="item">Inclusão e diversidade</li>
                <li class="item">Ética</li>
                <li class="item">Política de privacidade</li>
            </ul>   
        </div>
    </div>
</div>